<!doctype html>
<html>
  <head>
    <title>NodeBot</title>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/angular/angular.js"></script>

    <!-- local modules -->
    <script src="/js/cmd-builder.js"></script>
    <script src="/js/event-manager.js"></script>
    <script src="/js/key-monitor.js"></script>

    <!-- angular app -->
    <script src="/app/app.js"></script>
    <script src="/app/controllers/main.js"></script>
    <!-- angular app -->

    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
  </head>

  <body ng-app="main">
    <div class="container" ng-controller="mainController">
      <h1 class="text-center">NodeBot - f1
        <small>Powered by Wargos</small>
        <button type="button"
                class="btn btn-info"
                ng-click="changeCameraState()">
          <span class="glyphicon glyphicon-facetime-video">
          </span>
          <span ng-if="!camaraState">Start video</span>
          <span ng-if="camaraState">Stop video</span>
        </button>
      </h1>
      <hr>
      <div class="row text-center">
        <img ng-if="!camaraState" src="/images/wargos-logo.png"/>
        <img ng-if="camaraState"
             src="data:image/jpeg;base64,{{imagedata}}"/>
      </div>
      <div class="row text-center control-btns">
        <div ng-repeat="btns in control">
          <button type="button"
                  ng-repeat="btn in btns"
                  class="btn btn-info"
                  ng-click="move(btn)">
            <div ng-if="btn.icon">
              <span ng-class="buildIcon(btn.icon)"></span>
            </div>
            <div ng-if="!btn.icon">
              <span>-</span>
            </div>
          </button>
        </div>
      </div>
  </body>
</html>
